.header {
	position: -webkit-sticky;
	position: sticky;
	background: $c-ocean;
	top: 0;
	transition: .5s;
	width: 100%;
	z-index: 10000;
}

.header.header_hidden {
	transform: translateY(-100%);
}

.navbar-nav {



	.nav-link {


		color: $c-white;
		font-size: 16px;
		font-weight: 700;
		line-height: 15px;
		padding: 12px !important;
		// align-self: start;



		&:hover,
		&.active {
			color: $c-orange !important;
		}
		


	}

	
}