@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "reset";

// @import url("/src/bootstrap/scss/bootstrap.scss");

// @import url("/src/bootstrap/scss/_functions.scss");
// @import url("/src/bootstrap/scss/_variables.scss");
// @import url("/src/bootstrap/scss/_mixins.scss");

@import "mixins";
@import "header";
@import "greeting";
@import "about";
@import "portfolio";
@import "skills";
@import "reviews";
@import "contacts";

html,
body {
	position: relative;
	overflow-x: hidden;
	font-family: 'Outfit', sans-serif;
	color: $c-white !important;

	::-webkit-scrollbar {
		display: none;
	}
}

body {
	background: $c-ocean !important;

	-webkit-touch-callout: none;
	/* iOS Safari */
	-webkit-user-select: none;
	/* Safari */
	-khtml-user-select: none;
	/* Konqueror HTML */
	-moz-user-select: none;
	/* Old versions of Firefox */
	-ms-user-select: none;
	/* Internet Explorer/Edge */
	user-select: none;
	/* Non-prefixed version, currently
	                                  supported by Chrome, Edge, Opera and Firefox */
}


.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.container-xxl {
	max-width: 1440px !important;
}

.progress-bar {
	background-color: $c-orange !important;

}

.primary {
	min-height: 100vh !important;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 100px 0;

	@media (max-width: 530px) {
		min-height: 100% !important;
	}

	&__title {
		color: $c-white;
		text-align: center;
		font-size: 16px;
		font-weight: 600;
		line-height: 12px;
		letter-spacing: 2.4px;
		text-transform: capitalize;
		border-radius: 4px;
		background: #24263B;
		padding: 12px 14px;
		box-shadow: 0px 0px 24px 0px rgba(15, 16, 24, 0.42);

		@media (max-width: 768px) {
			font-size: 14px;
		}
	}

	&__subtitle {
		text-align: center;
		font-size: 36px;
		font-style: normal;
		font-weight: 700;
		line-height: 48px;

		@media (max-width: 768px) {
			font-size: 36px;
		}
	}
}

.main {
	flex: 1 1 auto;
}

.prm-btn {
	text-decoration: none;
	border-radius: 4px;
	text-align: center;
	font-weight: 700;
	line-height: 3;
	text-transform: capitalize;
	text-decoration: none;
	display: inline-block;
	padding: 0px 30px;
	margin: 15px 0;
	position: relative;
	overflow: hidden;
	border: 1px solid $c-orange;
	background: $c-orange;
	color: $c-white !important;
	font-size: 16px;
	transition: .2s ease-in-out;


	&:before {
		content: "";
		background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .5));
		height: 60px;
		width: 50px;
		position: absolute;
		top: 0px;
		left: -90px;
		transform: skewX(-45deg);
	}

	&:hover {
		background: $c-orange;
		color: $c-white !important;
	}

	&:hover:before {
		left: 100%;
		transition: .5s ease-in-out;
	}

	&:focus {
		background: $c-orange;
		color: $c-white !important;
		outline: none;
	}

	// &:hover {}

	&:active {

		transform: scale(.95);
	}
}

.social-link {
	display: flex;
	gap: 15px;

	a,
	button {
		display: block;
		text-decoration: none;
		color: $c-white;
		position: relative;

		background: $c-ocean;

		text-align: center;
		transition: all .2s ease;

		i {

			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			transition: all .2s ease;
		}


	}
}